
/Game/logs
/Editor/logs
/build
/.vs
/bin-int
/bin
/Illusion/Lib/Glad/bin-int
/Illusion/Lib/Glad/bin
Project.sln
Editor/Editor.vcxproj
Editor/Editor.vcxproj.filters
Editor/Editor.vcxproj.user
Editor/imgui.ini
Game/Game.vcxproj
Illusion/Illusion.vcxproj
Illusion/Illusion.vcxproj.filters
Illusion/Lib/Glad/Glad.vcxproj
Illusion/Lib/Glad/Glad.vcxproj.filters
